__pycache__

.env
env/*
venv/*
.venv/*
.env/*

# Ignore Firebase secrets
# service_manager/app/firebase/firebase_key.json
# inside service_manager/.gitignore
service_manager/app/firebase/firebase_key.json
.env

