fastapi
uvicorn
python-multipart
sqlalchemy
psycopg2-binary
pydantic
PyJWT
passlib[bcrypt]
common_utils @ git+https://github.com/YouthStack-Dev/MLT_backend_fastapi.git@main#subdirectory=common_utils_package
# pip install git+https://github.com/YouthStack-Dev/MLT_backend_fastapi.git#subdirectory=common_utils